.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Ehthumbs.db
desktop.ini

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

*.log
logs/
*.tmp
*.bak
.cache/

node_modules/
dist/
build/
coverage/
*.tsbuildinfo
client/vite.config.d.ts
client/vite.config.js

.env
.env.local
.env.*.local
